$button-color: #3f801d;
$gameboy-body-color: #989181;
$center-panel-color: #282828;
$dpad-button-color: #3a3a3a;
$dpad-button-hover-color: darken(#3a3a3a, 5%);
$dpad-highlight-color: rgba(255, 255, 255, 0.2);
$action-button-color: #660459;
$action-button-hover-color: darken(#660459, 5%);

$action-button-highlight-color: rgba(255, 255, 255, 0.3);