@import '../../styles/colors';
@import '../../styles/dimensions';

@font-face {
  font-family: "Pixel";
  src: url("../../../static/DigitalDisco.ttf") format("truetype");
}

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Roboto, Arial, sans-serif;
}

#root {
  display: grid;
  grid-template-areas: ". app tab-pane";
  grid-template-columns: 1fr auto 1fr;
  @media only screen and (max-width: 600px) {
    grid-template-areas: "app";
    grid-template-columns: 1fr;
  }
  background-color: darken($center-panel-color, 10%);
}

.app {
  display: flex;
  position: relative;
  grid-area: app;
  outline: none;
  gap: $app-row-gap;
  @media only screen and (max-width: 600px) {
    width: 100%;
  }
  width: calc(2 * #{$app-padding} + ((100vh - 2 * #{$app-padding} - 2 * #{$app-row-gap} - #{$title-height} - #{$button-height} - #{$gameboy-padding} - 2 * #{$gameboy-canvas-border}) / 1.6));
  flex-direction: column;
  box-sizing: border-box;
  padding: $app-padding;
  background-color: $center-panel-color;
}

.title {
  text-align: center;
  font-size: $title-height;
  line-height: $title-height;
  font-family: "Pixel";
  color: white;
  text-shadow: 3px 10px 2px black;
}

.cpu-info {
  grid-area: cpu-info;
}



.tile-debugger {
  grid-area: tile-debugger;
}

.audio-debugger {
  grid-area: audio-debugger;
  display: grid;
  grid-auto-rows: auto;
  grid-auto-columns: auto;

  & > h3 {
    grid-column: span 2;
  }

  width: fit-content;
  height: fit-content;
}

.menu {
  grid-area: menu;
  display: flex;
  flex-direction: row;
  gap: 15px;
}



#oscilloscope-canvas {
  background-color: white;
  width: 200px;
  border: 1px solid black;
}

#ch1-canvas, #ch2-canvas, #ch3-canvas, #ch4-canvas {
  background-color: white;
  width: 200px;
  border: 1px solid black;
}



.button {
  display: flex;
  outline: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  height: $button-height;
  padding: 8px;
  box-sizing: border-box;
  background-color: $button-color;
  font-family: "Pixel";
  border-radius: 3px;
  text-shadow: 2px 2px 2px black;
  color: white;

  & > label {
    cursor: pointer;
  }

  &:hover {
    background-color: darken($button-color, 10%);
  }
}



.hidden {
  display: none;
}